<h1>{{title}}</h1>
<p>Welcome to {{title}} app</p>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

<body>
  <input id="pac-input" class="controls" type="text"
      placeholder="Enter a location">
  <div id="map"></div>
  <div id="infowindow-content">
    <span id="place-name"  class="title"></span><br>
    Weather: <span id="place-id"></span><br>
    <span id="place-address"></span>
  </div>

  <script src="/public/javascripts/map.js"> </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{mapKey}}&libraries=places&callback=initMap"
      async defer></script>
</body>